//Colors
$background__main-color: #1C2541;
$background__secondary-color: #3A506B;
$background__third-color: #5BC0BE;
$ligthblue__main-color: #87CEEB;
$primary__text-color: #CDF9FF;
$secondary__text-color: #6662C2;
$lightblue__cloud-color: #C3FBF9;
$lightblue__mediumsky-color: #ACF5FB;
$third__title-color: #8AE5FF;
$lightblue__sky-color: #75D5E3;

//fonts
$font__family-Amiko: 'Amiko', sans-serif;
$font__family-EastSeaDokdo: 'East+Sea+Dokdo', sans-serif;
$font__family-Ovo: 'Ovo', serif;
